@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9fafb;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
