@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Global styling */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
