@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global tweaks */
html, body, #root {
  height: 100%;
}

a {
  @apply text-brand-600 hover:text-brand-700;
}

button {
  @apply rounded-xl;
}
