@tailwind base;
@tailwind components;
@tailwind utilities;

/* Stop old global CSS from blowing up images */
img {
  max-width: 100%;
  height: auto;
}

html, body, #root {
  height: 100%;
}
