@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: You can add your custom global styles below */

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
